$warning-color: rgb(125, 252, 173);
$base-color: rgb(44, 201, 65);
$important-color: rgb(0, 102, 9);
$shadow:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
$primary-font: fantasy; 
$secondary-font: "Lucida Console", Courier, monospace;