@import "green";
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: $primary-font;

  .box {
    border: {
      width: 2px;
      style: solid;
      radius: 0.5rem;
      color: black;
    }

    padding: 1rem;
    width: fit-content;
  }
  .base {
    background-color: $base-color;
  }
  .important {
    background-color: $important-color;
  }
  .warning {
    background-color: $warning-color;
  }
  .shadow {
    box-shadow: $shadow;
  }
  .secondary{
      font-family: $secondary-font;
  }
}
